/* -------------------Universal style for MyPortfolioWebsite -------------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #FFF2F2;
}

ul.custom-list {
    list-style-type: none;
    padding-left: 15px;
}

ul.custom-list li::before {
    color: #7286D3;
    content: "•";
    margin-right: 10px;
}

.btn-custom {
    background-color: transparent;
    color: #7286D3;
    border: 2px solid #7286D3;
    border-radius: 20px;
    transition: 0.3s ease;

  }

.btn-custom:hover {
    background-color: #7286D3;
    color: #FFF2F2;

}

/* -------------------Navigation bar -------------------*/
.navbar-light .navbar-nav .nav-link {
    color: #7286D3;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('/static/images/portrait.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

#nav-logo-text-color {
    color: #7286D3;
}

#nav-logo-text-color:hover {
    color: black;
}

/*------------------- Home page -------------------*/
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the flex items horizontally */
    align-items: center; /* Center the flex items vertically */
    height: 80vh;
}
  
.home-header {
    margin-right: 20px;
    margin-bottom: 20px;
}

.home-header span {
    color: #7286D3;
}
  
#home-image {
    max-width: 400px;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Center the image within its container */
}
  
@media (max-width: 1024px) {
    #home-image {
      max-width: 70%; /* Decrease the maximum width of the image to 50% of its container for screens with a maximum width of 768px */
    }
  
  
    .home-header {
      order: 1; /* Change the order of the heading to 2, making it appear after the image */
      margin-right: 0px;
      text-align: center;
    }
  
    .home-image-container {
      order: 2; /* Change the order of the image to 1, making it appear before the heading */
    }
  }


/*------------------- About page -------------------*/
.container.about-page {
    margin-top: 2%;
}

.about-page span {
    color: #7286D3;
}

#about-me-image {
    max-width: 60%;
    height: auto;
    border-radius: 5%;
}

/*------------------- Projects page -------------------*/



/*------------------- Project details page -------------------*/



/*------------------- Contact page -------------------*/



/*------------------- Resume page -------------------*/

.container.resume-page div {
    margin-top: 10px;
}

.container.resume-page p {
    margin-bottom: 30px;
}

#text-align {
    text-align: justify;
}

.container.resume-page h1,
.container.resume-page h2,
.container.resume-page h3 {
    color: #7286D3;
}

.email-icon {
    margin-right: 5px;
}

.github-icon {
    color: black;
    margin-right: 5px;
}

.linkedin-icon {
    color: #0A66C2;
    margin-right: 5px;
}
