/* -------------------Universal style for MyPortfolioWebsite -------------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #FFF2F2;
}

ul.custom-list {
    list-style-type: none;
    padding-left: 15px;
}

ul.custom-list li::before {
    color: #7286D3;
    content: "•";
    margin-right: 10px;
}

.btn-custom {
    background-color: transparent;
    color: #7286D3;
    border: 2px solid #7286D3;
    border-radius: 20px;
    transition: 0.3s ease;

  }

.btn-custom:hover {
    background-color: #7286D3;
    color: #FFF2F2;

}

/* -------------------Navigation bar -------------------*/
.navbar-light .navbar-nav .nav-link {
    color: #7286D3;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('/static/images/portrait.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

#nav-logo-text-color {
    color: #7286D3;
}

#nav-logo-text-color:hover {
    color: black;
}

/*------------------- Home page -------------------*/
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the flex items horizontally */
    align-items: center; /* Center the flex items vertically */
    height: 80vh;
}
  
.home-header {
    padding-right: 20px;
}

.home-header span {
    color: #7286D3;
}
  
#home-image {
    max-width: 400px;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Center the image within its container */
}
  
@media (max-width: 1024px) {
    #home-image {
      max-width: 70%; /* Decrease the maximum width of the image to 70% of its container for screens with a maximum width of 1024px */
    }
  
  
    .home-header {
      order: 1; /* Change the order of the heading to 1, making it appear after the image */
      padding: 0 0 20px 0; /*padding on the bottom*/
      text-align: center;
    }
  
    .home-image-container {
      order: 2; /* Change the order of the image to 2, making it appear before the heading */
    }
  }


/*------------------- About page -------------------*/
.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 80vh;
}

.about-me-header {
    flex-grow: 1; /*flex items will grow relative to other flex items when there is extra space available*/
    flex-shrink: 1; /* flex items will shrink relative to other items when there is lack of space*/
    flex-basis: 50%; /*take up to 50% of available space within flex container*/
    padding-right: 40px;
}

.about-me-image-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.about-me-header span {
    color: #7286D3;
}

#about-me-image {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 5%;
}

@media (max-width: 1024px) {
    #about-me-image {
        max-width: 50%;
    }
    
    .about-me-header {
        order: 1;
        flex-basis: 100%; /*take up to 100% of available space within flex container and push other items to next line*/
        padding: 0 10px 20px 10px; /*padding on the right, bottom and left*/
    }

    .about-me-header h1 {
        text-align: center;
    }

    .about-me-image-container {
        order: 2;
    }
}

/*------------------- Projects page -------------------*/



/*------------------- Project details page -------------------*/



/*------------------- Contact page -------------------*/



/*------------------- Resume page -------------------*/

.container.resume-page div {
    margin-top: 10px;
}

.container.resume-page p {
    margin-bottom: 30px;
}

#text-align {
    text-align: justify;
}

.container.resume-page h1,
.container.resume-page h2,
.container.resume-page h3 {
    color: #7286D3;
}

.email-icon {
    margin-right: 5px;
}

.github-icon {
    color: black;
    margin-right: 5px;
}

.linkedin-icon {
    color: #0A66C2;
    margin-right: 5px;
}
