{% extends 'base.html' %}

{% load static %}

{% block title %}About{% endblock %}


{% block content %}

<div class="about-me-container">
    <div class="about-me-image-container">
        <img src="{% static 'images/Jack_full_body.jpeg' %}" alt="Jack Pflaum Standing" class="shadow-lg" id="about-me-image">
    </div>
    <div class="about-me-header">
        <header>
            <h1>About Me</h1>
        </header>
        <p>As an aspiring <span>back-end web developer</span> from Perth, Australia, I bring a unique perspective to the world of programming with my <span>background in chemistry</span>. I leverage my analytical skills and attention to detail to write efficient and maintainable code that powers the back-end of web applications.</p>
        <p>With a <span>Certificate IV in Programming</span> and experience with <span>Python, Django framework and Django REST framework</span>, I have the technical skills to develop robust and scalable web applications. My passion for programming and problem-solving drives me to continuously learn and improve my skills.</p>
        <p>I'm excited to showcase my projects and demonstrate my proficiency in back-end web development. Browse my portfolio to see examples of my work and learn more about my programming journey.</p>
        <p>Thank you for visiting my website, and I look forward to connecting with you!</p>
        <a href="{% url 'projects' %}" class="btn btn-custom">View my projects</a>
        <a href="{% url 'resume' %}" class="btn btn-custom">Resume</a>
    </div>
</div>

{% endblock %}
