{% extends 'base.html' %}

{% load static %}

{% block title %}Jack Pflaum{% endblock %}

{% block content %}

<div class="home-container">
    <div class="home-header">
        <h1>
            Hello, my name is<br>
            <span>Jack</span> Pflaum
        </h1>
        <p>I am a <span>full-stack web developer</span> from Perth, Australia.</p>
        <a href="{% url 'projects' %}" class="btn btn-custom">Projects</a>
        <a href="{% url 'resume' %}" class="btn btn-custom">Resume</a>
        <a href="{% url 'contact' %}" class="btn btn-custom">Contact</a>
    </div>
    <div class="home-image-container">
        <img src="{% static 'images/Jack_close_up.jpeg' %}" alt="Jack Pflaum Portrait" class="shadow-sm" id="home-image">
    </div>
</div>

{% endblock %}