{% extends 'base.html' %}

{% load static %}

{% block title %}Jack Pflaum{% endblock %}

{% block content %}

<div class="container m-5">
    <div class="row">
        <div class="col-9">
            <h1 class="display-4">Hi, My name is Jack Pflaum!</h1>
            <p class="text-justify">As an aspiring back-end web developer from Perth, Australia, I bring a unique perspective to the world of programming with my background in chemistry. I leverage my analytical skills and attention to detail to write efficient and maintainable code that powers the back-end of web applications.
            With a Certificate IV in Programming and experience with Python and the Django framework, I have the technical skills to develop robust and scalable web applications. My passion for programming and problem-solving drives me to continuously learn and improve my skills.
            I'm excited to showcase my projects and demonstrate my proficiency in back-end web development. Browse my portfolio to see examples of my work and learn more about my programming journey.
            Thank you for visiting my website, and I look forward to connecting with you!</p>
            <a href="{% url 'projects' %}" class="btn btn-outline-info">Projects</a>
            <a href="#" class="btn btn-outline-info">Resume</a>
        </div>
        <div class="col-3">
            <img src="{% static 'images\Goku-portrait.png' %}" alt="Jack Pflaum Portrait" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}