{% extends 'base.html' %}

{% load static %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
<h1 class="text-center">{{ project.title }}</h1>

<div class="container">
    <div class="row flex-column-reverse flex-md-row"> 
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <p class="text-justify">{{ project.details }}</p>
            <p><a href="#" class="btn btn-custom">Visit The Site</a></p>
            <p><a href="{{ project.github_url }}" target="_blank" class="btn btn-custom">Github repository</a></p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{{ project.image.url }}" alt="{{ project.title }}" class="img-fluid">
        </div>
    </div>
</div>



{% endblock %}
{% comment %} 
Detail what the website does. What features it includes. Why I did certain things.

Link to the website
Link to github

Photos of the website (use bootstrap carousel feature):
https://getbootstrap.com/docs/4.0/components/carousel/

Advanced: video walk through of the website {% endcomment %}
