{% extends 'base.html' %}

{% load static %}


{% block title %}Resume{% endblock %}


{% block content %}

<div class="container resume-page">
    <div style="margin-bottom: 10px;">
        <a href="{% static 'Resume_Jack Pflaum.pdf' %}" class="btn btn-custom" download>Download Resume</a>
    </div>
    
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <a class="unclickable-link">
                <i class="fas fa-envelope email-icon"></i>jackpflaum@gmail.com
            </a>
        </div>
            <div class="col-lg-4 col-sm-12">
            <a href="https://github.com/JackPflaum" target="_blank">
                <i class="fab fa-github github-icon"></i>https://github.com/JackPflaum
            </a>
        </div>
            <div class="col-lg-4 col-sm-12">
            <a href="https://au.linkedin.com/in/jackpflaum" target="_blank">
                <i class="fab fa-linkedin linkedin-icon"></i>https://au.linkedin.com/in/jackpflaum
            </a>
        </div>
    </div>

    <div>
        <h1 class="resume-heading">Resume - <span>Jack Pflaum</span></h1>
        <h3>Professional Summary</h3>
        <p id="text-align">I am excited to bring my analytical skills and problem-solving abilities to back-end computer programming after my decision to change careers from a lab technician. With a Certificate 4 in Information Technology (Programming) and a Bachelor of Science in Chemistry and Sustainable Energy Management, I have developed a solid foundation in Python and Django, as well as some knowledge of HTML, CSS and Bootstrap.</p>
        <p id="text-align">The desire to understand how things work is the main reason I decided to become a programmer. My drive for self-improvement constantly pushes me to research new programming skills and approaches to problem-solving, resulting in my proficiency in using Visual Studio Code and Github to create my personal projects.</p>
        <p id="text-align">As I transition into a career as a back-end developer, I am confident that my experience in laboratory work has provided me with transferable skills that will prove valuable in my new role. My ability to analyze data and troubleshoot problems will be assets as I work to develop robust and efficient back-end systems.</p>
        <p id="text-align">Overall, I am a driven and enthusiastic individual with a strong work ethic and a commitment to continuous learning. I look forward to bringing my skills and passion to a new career in programming.</p>
    </div>
        
    <div>
        <h3>Professional Experience</h3>
        <div class="d-flex flex-column flex-sm-row align-items-start justify-content-between">
            <h5>Intertek – Exploration & Production</h5>
            <h6>Laboratory Technician  (2014 – Present)</h6>
        </div>   
        <p id="text-align">Sample preparation, solvent extraction, GCMS oil compositional analysis, GC gas
            compositional analysis, water anion and cation analysis, glycol purities and impurities. Laboratory
            equipment maintenance and troubleshooting. Performing reagent stock count and laboratory cleanliness.
            Teaching new employees how to perform analysis's and operate analytical equipment.
        </p>
    </div>

    <div>
        <h3>Offshore Work Experience</h3>
        <div class="d-flex flex-column flex-sm-row align-items-start justify-content-between">
            <h5>Woodside, North Rankin Complex</h5>
            <h6>Laboratory Technician (Nov 2019 – Jan 2021)</h6>
        </div>   
        <p>Routine oil in water testing on produced water samples.
            Participating in daily safety toolbox meetings.
        </p>
    </div>

    <div>

        <div class="d-flex flex-column flex-sm-row align-items-start justify-content-between">
            <h5>Inpex, Ichthys Venturer FPSO</h5>
            <h6>Laboratory Technician (Oct 2018 – Aug 2019)</h6>
        </div>   
        <p id="text-align">Routine and Adhoc sampling and testing on production products and chemicals.
            Entering data into Laboratory Information Management System (LIMS). Maintaining Laboratory reagents
            and equipment. Shift handover and coordinating with Operators for sampling out in the field.
        </p>
    </div>
    
    <div>
        <h3>Transferable Experience</h3>
        <ul class="custom-list">
            <li>I am work-ready with 15 years of experience in the workforce.
                I have engaged with people at different levels of a company.</li>
            <li>Analytical skills and attention to detail.</li>
            <li>My knowledge and experience in the scientific field can be beneficial in programming applications for industries,
                such as mining, environmental science, or engineering.</li>
            <li>Tracing equipment problems back to the source by isolating different components and eliminating the areas
                that are not a problem. I have successfully applied this method to debug my own personal programming projects.</li>
            <li>Working in teams and individually with minimum supervision.</li>
            <li>Participating in toolbox safety meetings before starting the job.
                These communication skills will be equally important in a programmer job to collaborate with team members,
                effectively convey ideas and listen to clients.</li>
            <li>Operating a number of laboratory equipment with different software UI and capabilities.
                Adapting to different software for each piece of laboratory equipment demonstrates my ability to
                learn new technologies quickly. This adaptability can be valuable in a programmer job,
                where technologies and programming languages may change frequently.</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-12 col-md-8">
            <h3>Education</h3>
            <h5>ICT40120 - Certificate IV in Information Technology (Programming)</h6>
            <p>Upskilled (Feb 2021 – Oct 2022)</p>
            <h5>Bachelor of Science (Chemistry and Sustainable Energy Management)</h5>
            <p>Murdoch University (2010 – 2013)</p>
            <h5>Western Australian Certificate of Education (WACE)</h5>
            <p>Gilmore College (2009 TER 80.15)</p>
        </div>
        <div class="col-12 col-md-4">
            <h3>Skills</h3>
            <ul class="custom-list">
                <li>Python</li>
                <li>Django</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>MySQL</li>
                <li>Visual Studio Code</li>
                <li>Github</li>
            </ul>
        </div>
    </div>

    <div>
        <h3>Academic Achievement</h3>
        <h5>Nicholas Searcy Prize in Organic Chemistry</h6>
        <p>Murdoch University – Awarded for the Best Academic Performance in ‘Molecular Design’ (2012)</p>
    </div>
</div>






{% endblock %}