{% extends 'base.html' %}

{% load static %}


{% block title %}Resume{% endblock %}


{% block content %}
<div class="container">
    <a href="{% static 'Resume_Jack Pflaum.pdf' %}" class="btn btn-outline-info" style="margin-top: 10px;" download>Download Resume</a>
    <div style="border: 1px solid black; border-radius: 10px; padding: 10px; margin-top: 10px;">
    <h1>Resume</h1>
    <h3>Jack Pflaum</h3>
    <br>
    <h3>Professional Summary</h3>
    <p class="text-justify">As a career changer from laboratory technician to computer programmer, I am excited to bring my analytical skills and problem-solving abilities to a new field. With a Certificate 4 in Information Technology (Programming) and a Bachelor of Science in Chemistry and Sustainable Energy Management, I have developed a solid foundation in Python and Django, as well as some knowledge of HTML and Bootstrap.
        My passion for programming stems from my curiosity and desire to understand how things work. I am constantly seeking to learn new programming skills and approaches to problem-solving, which has driven me to become proficient in using Visual Studio Code and Github to save my personal projects.
        As I transition into a career as a backend developer, I am confident that my experience in laboratory work has provided me with transferrable skills that will prove valuable in my new role. My ability to analyze data and troubleshoot problems will be assets as I work to develop robust and efficient backend systems.
        Overall, I am a driven and enthusiastic individual with a strong work ethic and a commitment to continuous learning. I look forward to bringing my skills and passion to a new career in programming.
    </p>
    <br>
    <h3>Professional Experience</h3>
    <h5>Intertek – Exploration & Production:</h5>
    <h6>Laboratory Technician  (2014 – Present)</h6>
    <p class="text-justify">Sample preparation, solvent extraction, GCMS oil compositional analysis, GC gas
        compositional analysis, water anion and cation analysis, glycol purities and impurities. Laboratory
        equipment maintenance and troubleshooting. Performing reagent stock count and laboratory cleanliness.
        Teaching new employees how to perform analysis's and operate analytical equipment.
    </p>
    <br>
    <h5>Offshore Work Experience:</h5>
    <h5>Inpex, Ichthys Venturer FPSO</h5>
    <h6>Offshore Laboratory Technician (October 2018 – August 2019)</h6>
    <p class="text-justify">Routine and Adhoc sampling and testing on production products and chemicals.
        Entering data into Laboratory Information Management System (LIMS). Maintaining Laboratory reagents
        and equipment. Shift handover and coordinating with Operators for sampling out in the field.
    </p>
    <br>
    <h5>Woodside, North Rankin Complex</h5>
    <h6>Offshore Laboratory Technician (November 2019 – January 2021)</h6>
    <p class="text-justify">Routine oil in water testing on produced water samples.
        Participating in daily safety toolbox meetings.
    </p>
</div>
</div>





{% endblock %}